<main class="container">
  <% if user_signed_in? %>
    <%= link_to new_task_path, remote: true do %>
      <i class="fas fa-plus-circle fa-3x" alt="Nova tarefa" title="Nova tarefa"></i>
    <% end %>
    <div id="tasks">
      <%= render 'tasks/task' if @tasks.present? %>
    </div>
    <%= render 'shared/modal' %>
  <% else %>
    <h3>Bem vindo ao TODOlist</h3>
  <% end %>
  </main>